.detail{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 50px 0;
}

.detail img{
    max-width: 500px;
    min-width: 290px;
    height: 300px;
    width: 100%;
    display: block;
    object-fit: cover;
    margin: 25px;
    cursor: pointer;
}

.detail-content{
    max-width: 500px;
    min-width: 290px;
    margin: 25px;
}

.detail-content-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.detail-content-row h3{
    text-transform: uppercase;
    letter-spacing: 2px;
}

.detail-content-row span{
    color: crimson;
}

.button-color{
    width: 30px;
    height: 30px;
    border: 1px solid #333;
    outline: none;
    margin-right: 5px;
    cursor: pointer;
}

.button-color:hover{
    transform: scale(1.2);
}

.button-logic{
    background: lightgray;
    width: 30px;
    height: 30px;
    border: 1px solid #333;
    outline: none;
    margin-top: 10px;
    cursor: pointer;
}

.button-number{
    background: white;
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    margin-top: 10px;
    cursor: pointer;
}

.detail-content-row p{
    line-height: 1.5;
    margin: 15px 0;
}

.button-add-to-cart{
    background: #333;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 25px;
    display: inline-block;
}

.button-add-to-cart:hover{
    background: crimson;
}