.footer {
    background:black;
    color: white;
    min-height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    position: relative;
    bottom: 0; 
    width: 100%;
}

.footer-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.footer p{
    font-size: 12px;
}

/* @media (max-width:650px){
    .footer {
        position: fixed;
    }
} */